/* App header */
.header-wrapper{
  display: block;
  text-align: center;
}
.navBar{
  display:inline-block;
  background-color: white;
  margin-left: 10vw;
  margin-bottom: 10px;
  z-index: 99;
  padding: 3px 10vw;
  margin-top: 10px;
}
.header-ul{
  display:block;
  text-align: center;
}
.header-ul li{
  display:inline;
  margin:10px;
}
/*App Search Bar*/
body{
  background-color: coral;
}
.headSection{
  width:100vw;
}
#hsDiv1{
  width:50%;
  display:inline-block ;
}
.headSection #hsDiv2{
  width:40%;
  display:inline-block ;
}
#hsDiv1 img{
  margin-top: -150px;
  max-width:100%;
  max-height: 500px;
}
@media only screen and (max-width: 900px) {
  .headSection #hsDiv1{
    width:100%;
  }
  #hsDiv1 img{
    margin-top: 0px;
  }
  .headSection #hsDiv2{
    display:inline-block;
    width:100%;
  }
}
/*Input for Map and HeaderSection right div*/
#hsHeading{
  margin-left: 10%;
  font-size:70px;
  font-weight: bolder;
}
.inputlocation{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10px;;
  border:1px solid white;
}
.inputlocation:hover{
  background-color:#E6E6E6;
  border:1px solid #E6E6E6;
  transition: 2s;
}
/*Header Section Submit Button*/
.hsButton{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10px;;
  border:1px solid white;
}
.hsButton:hover{
  background-color: aqua;
  transition: 2s;
}
.app {
  border-radius: 10px;
  box-shadow: 2px 5px 12px -1px rgba(0, 0, 0, 0.56);
  padding: 20px;
  background-color: white;
  max-width: 500px;
  margin: 15px auto;
  text-align: center;
  min-height: 500px;
}
.app input {
  margin: 0 auto;
  float: none;
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border: 2px solid black;
}
.app ul {
  margin: 0;
  padding: 0;
}
.app li {
  text-align: left;
  z-index: 99;
  padding: 5px 10px;
  width: 100%;
  max-width: 280px;
  margin: 1px auto;
  background-color: white;
  border: 1px solid       black;
  list-style: none;
}
.video{
  margin-top: 50px;
  box-sizing: border-box;
  width :100%;
  height:100%;
  z-index:-1;
}

/*footer*/
.footer{
  display: block;
}