
/* App header */
body {
  margin: 0;
  background-color: #e9ebee;
}

#navbar {
  display: grid;
  min-height: 60px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 20px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo span {
  color: #0474bc;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}

#links a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

/*App Search Bar*/
body{
  background-color: coral;
  background-image: url("./images/body_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.headSection{
  width:100vw;
}
#hsDiv1{
  width:50%;
  display:inline-block ;
}
.headSection #hsDiv2{
  width:40%;
  display:inline-block ;
}
#hsDiv1 img{
  margin-top: -150px;
  max-width:100%;
  max-height: 500px;
}
@media only screen and (max-width: 900px) {
  .headSection #hsDiv1{
    width:100%;
  }
  #hsDiv1 img{
    margin-top: 0px;
  }
  .headSection #hsDiv2{
    display:inline-block;
    width:100%;
  }
}
/*Input for Map and HeaderSection right div*/
#hsHeading{
  margin-left: 10%;
  font-size:70px;
  font-weight: bolder;
}
.inputlocation{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10px;;
  border:1px solid white;
}
.inputlocation:hover{
  background-color:#E6E6E6;
  border:1px solid #E6E6E6;
  transition: 2s;
}

#hsdate{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10px;;
  border:1px solid white;
}
/*Header Section Submit Button*/
.hsButton{
  width:80%;
  margin-left: 10%;
  margin-bottom: 10px;;
  border:1px solid white;
}
.hsButton:hover{
  background-color: aqua;
  transition: 2s;
}
/*Hiding lat long paras*/
#latd{
  position: absolute;
  color: transparent;
}
#longd{
  position: absolute;
  color: transparent;
}
#lat{
  position: absolute;
  color: transparent;
}
#long{
  position: absolute;
  color: transparent;
}
/*How This Goes*/
.howThisGoes{
  background-position: bottom;
  width: auto;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.processImg{
  margin:auto;
  display: block;
}
.app {
  border-radius: 10px;
  box-shadow: 2px 5px 12px -1px rgba(0, 0, 0, 0.56);
  padding: 20px;
  background-color: white;
  max-width: 500px;
  margin: 15px auto;
  text-align: center;
  min-height: 500px;
}
.app input {
  margin: 0 auto;
  float: none;
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border: 2px solid black;
}
.app ul {
  margin: 0;
  padding: 0;
}
.app li {
  text-align: left;
  z-index: 99;
  padding: 5px 10px;
  width: 100%;
  max-width: 280px;
  margin: 1px auto;
  background-color: white;
  border: 1px solid       black;
  list-style: none;
}
.video{
  margin-top: 50px;
  box-sizing: border-box;
  width :100%;
  height:100%;
  z-index:-1;
}
/*Login*/
.login{
  max-width: 500px;
  display: block;
  margin:auto;
  margin-bottom: 10%;
}
.signup{
  max-width: 800px;
  display: block;
  margin:auto;
  margin-bottom: 20px;
  border-radius: 20px;
  padding:10px 0px;
  margin-bottom: 10%;
}
.toggleLogin button{
  color: white;
  background-color:#0069D9;
  border:2px solid #0069D9;
  display: inline-block;
  border-right:1px solid white;
}
.toggleLogin{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.toggleLogin a{
  color:white;
}
/*footer*/
.footer{
  display: block;
}